$off-white: #FEFEF4;

$teal: #8DCFC0;
$purple: #745DA2;
$pink: #F6B4B9;
$green: #1FAE4D;
$blue: #3794C1;
$red: #EA4035;
$yellow: #FDBF31;

$off-black: #050304;

// $light-green: #8ED0C1;
// $green: #78C3C6;

// $light-red: #F49AA5;
// $red: #F47B84;


