
.leaderboard-list {
  list-style-type: none;
  padding: 0;
  @include font-size(2);

}

  .leader-board {
    padding-bottom: 0.25rem;
    @include font-size(1);

    .player-gravatar {
      width: 2.5em;
    }

    .player-nickname {
      padding-top: 0.75rem;
    }
  }

.leaderboard-wrap {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  width: 25vw;
  background: #333;
  color: #FFF;
  padding: 0 1em .5em 1em;
}
