.schedule-wrap {
  position: absolute;
  left: 25vw;
  box-sizing: border-box;
  padding: 0em 1em 4em 1em;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.level-preview {
  text-align: center;
  .level-icon {
    width: 33%;
  }
}

.each-schedule {
  min-height: 40vh;
  border-top: 6px solid $off-black;
}

.schedule-title {
  @include font-size(4);
  margin-top: 15vh;
  display: inline-block;
  text-align: center;
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
  border: 6px solid $off-black;
}

.schedule-round {
  height: 400px;
  overflow-y: hidden;
}

.round-number {
  margin-top: 2em;
  margin-bottom: 1em;
}

.player-name {
  font-size: 2em;
  vertical-align: 0.7em;
  padding-left: 0.25em;
}

.match-lineup {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  .match-winner {
    height: 6em;
  }

  .player-gravatar {
    width: 4em;
    margin-left: 0.33em;
    margin-right: 0.33em;
    // margin-bottom: $baseline/4;
  }

  .match-score {
    float: right;
    @include font-size(4);
    margin-top: 0.2em;
    width: 1.66em;
    border: none;
    outline: none;
    background-color: $off-white;
    &:focus {
      background-color: $pink;
      outline: nonoe;
    }
  }
}
