@import 'inline-block-grid/grid';
@import 'scss-utils/scss-utils';
@import "color";
@import "base";
@import "type";
@import "tooltip";

@import "players";
@import "leaderboard";
@import "schedule";

body {
  padding-left: $baseline;
  padding-right: $baseline;
  font-family: 'Libre Caslon Text'; font-weight: 400; font-style: normal; font-size: $body-size;
  b, strong {font-weight:700;}
  i, em {font-weight: 400; font-style: italic}
}

input {
  font-family: 'Libre Caslon Text'; font-weight: 400; font-style: normal;
}

button {
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

.fullscreen {
  min-height: 100vh;
  display: none;
  &.is-active {
    display: block;
  }
}

.title {
  @include font-size(6);
  margin-top: $baseline;
  margin-bottom: 0;
  text-align: center;
  padding: $baseline;
  border: 6px solid $off-black;
  // border-bottom: 0;
}

.subtitle {
  @include font-size(5);
  line-height: 4*$baseline;
  text-align: center;
}

.section-title {
  @include font-size(3);
}



